:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
  height: 100vh;
}

body {
  width: 100vw;

  min-height: 100vh;
  background-color: var(--body-background);
  padding: 2.4rem;
}
